<p id="notice"><%= notice %></p>
<p><%= resource.name%></p>

<div class="field">
  <% for role in Role.all %>
      <%= role.name if @user.roles.include?(role) %>
  <%end%>
</div>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', root_path %>
